html {
	background-color: white;
	height:100%;
}
body {
	width:100%;
   	padding: 30px;
    margin:0; auto;
 	background-color: #eee;
	text-align: justify; 
  	font-weight: lighter;
  	word-spacing: -1px;
  
	}

.name { 
	font-family: helvetica;
	 }
	.col1 {
	float: left;
	width: 250px;
	max-width: 250px;
	padding: 10px;

}
	.col2 {
	float: left;
	width: 250px;
	max-width: 250px;
	padding: 10px;

}
	.col3 {
	float: left;
	width: 250px;
	max-width: 250px;
	padding: 10px;
}
	.col4 {
	float: left; 
	width: 250px;
	padding: 10px;
}
	.col5 {
	float: left;
	width: 250px;
	max-width: 250px;
	padding: 10px;
}
	.col6 {
	float: left;
	width: 250px;
	max-width: 250px;
	padding: 10px;
}
h1 {
	color: #8B92AD;
	font-family: arial; 
	font-weight: lighter; 
	text-align: center;
	}

h2 {color: #8B92AD;
	font-family: georgia;
	font-size: 1.25em;
	kerning: auto;
	font-weight: lighter;
	text-align: center;
	 }

p {
	background-color: #444A61;
	font-family: Arial;
	position: center;
	text-indent: 1em;
	padding: 10px;
	height:290px;
	color: #E1E6FA;
	box-shadow: -3px 3px 10px #A7ABBA;
	}


a:link {  
	text-decoration: none; 
	color: #FF5339;
	}

a:visited {  
	text-decoration: none; 
	color: #FF5339;
	}
	
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #fff;
	}
/*
@media screen and (max-width:900px){
   body {
        background:#FAFAFA;
        width:80%;
        margin: auto;

    }
    .col1 {
	float: none;
	margin: auto;
	width: 256.6px;
	padding: 0px;

}
.col2 {
	float: none;
	margin: auto;
	width: 256.6px;
	padding: 0px;


}
.col3 {
	float: none;
	margin: auto;
	width: 256.6px;
	padding: 0px;
}
   h2 {
   	margin:auto;
   	width: 75%;
   }
    p {
	background-color: #444A61;
	font-family: Arial;
	font-size: .8em;
	text-indent: 1em;
	color: #E1E6FA;
	padding:10px;
	width: 75%;
	height:100px;
	box-shadow: -3px 3px 10px #A7ABBA;
	} 
	*/