* {
	border: 0;
	box-sizing:border-box;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body{
	background-color: #FFF;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
}

h1 { 
	color: #fff;
	font-family: "Playfair Display",'Times New Roman', Times, Serif;
	font-size: 10vw;
	font-weight: 100;
	margin: auto;
	padding: 10% 10%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

h2 {
	color: #000;
	font-family: "Raleway"; san-serif;
	font-feature-settings: "'liga' 1";
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1.33em;
	margin:auto;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: -0.1em;
}

h3 {
	color: #000;
	display: inline-block;
	font-family: "Raleway";
	font-feature-settings: "'liga' 1";
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1em;
	margin: auto;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: -0.1em;
}
p {
	font-family: georgia Serif;
	padding: 5px 0px;
}

li {
	display: none;
	padding: 20px;
}
nav { 
	display: inline;
	padding:10px;
 }
nav a{	
	display: none;
}

a:link{ 
	color: #000;
	text-decoration: none; 
	}

a:visited{  
	color: #000;
	text-decoration: none; 
	}

a:hover{ 
	display: block;
	color: #FF5339;
	text-decoration: none; 
	}

a:active { 
	color: #FF5339;
	text-decoration: none; 
	}

footer {
	background-color: #fff;
	color: #000;
	font-size: 1em;
	height: 90px;
	line-height: 1.33em;
	padding: 15px;
	text-align: center;
	width: 100%;
}


.menu label{
	background-color: #fff;
	border-left: .5px solid #EFEFEF;
	color: #000;
	display: block;
	font-family: "Raleway"; 
	font-feature-settings: "'liga' 1";
	font-size: 1.2em;
	font-style: normal;
	line-height: 1.33em;
	margin: 0px 0 20px 10px;
	padding: 20px 20px;
	word-spacing: -0.1em;
	float: right;
	margin-right: 2%
}

.menu a:link{ 
	color: #000;
	text-decoration: none; 
	}

.menu a:visited{  
	color: #000;
	text-decoration: none; 
	}

.menu a:hover{ 
	box-shadow: -3px 3px 10px rgba(0,0,0,.25);
	color: #FF5339;
	display: block;
	text-decoration: none; 
	}


.menu a:active { 
	color: #FF5339;
	text-decoration: none; 
	}


.name { 
	font-family: "semplicitapro", helvetica, sans-serif;
	font-size: .9em;
	 }

.col1 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	float: left;
	margin: .5%;
	padding: 17px 0px 0px 17px;
    width: 32.3%;
    height: 430px;
    position: relative;
}

.col2 {
	background-color: #fff;
	height: 100%;
	float: left;
	margin: .2%;
	max-height: 359px;
	padding: 17px 5px 15px 5px ;
	width: 32.33%;
    height: 390px;
}

.col1:hover{
	box-shadow: -3px 3px 10px rgba(0,0,0,.25);
	transform: rotate(-.2deg);
}	
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.aside{
  	width: 100%;
  	}

 .butter{
    height: 340px;
 }
.projectimage{
   	clip: rect(0px 280px 350px 0px);
    cursor: pointer;
    height: 375px;
    position: absolute;
    margin: auto;
  	-moz-filter: saturate(100%);
  	-webkit-filter: saturate(100%);
  	-o-filter: saturate(100%);
  	-ms-filter: saturate(100%);
  	filter: saturate(100%);
  	}
.projectimage:hover {
  	-moz-filter: saturate(105%);
  	-webkit-filter: saturate(105%);
  	-o-filter: saturate(105%);
  	-ms-filter: saturate(105%);
  	filter: saturate(105%);
	 }
 .thoughts{
 	background-color: gold;
 	bottom-margin: 20px;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	color: #000;
 	font-size: 1em;
 	height: 300px;
 	padding: 20px;
 	overflow: auto
 }
 .thoughts:hover {
  	box-shadow: -3px 3px 10px rgba(0,0,0,.25);
	transform: rotate(-.2deg)navitem
}
.overlay{
	position: relative;
}
#logo {
	margin: 3%;
	width: 94%;
}
#splash {
	background-color: #000;
	background-attachment:fixed;
	background-image: no-repeat;
	background-size: cover;
	box-shadow: -3px 3px 10px #A7ABBA;
	margin: 5px auto 15px;
	padding: 20px;
}
#mainwrapper {
	margin: auto;
	width: 100%;
}
#subwrapper {
	max-width: 1080px;
	margin: auto;
}
 #projectswrapper {
 	background-color: #fff;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	margin: 0 auto 15px;
 	padding: 4.1%;
 	position: relative;
 }

#researchwrapper {
 	background-color: #fff;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	margin: 0 auto 15px;
 	padding: 4.1%;
 	position: relative;
 	clear: both;
 }

 #thoughtswrapper{
 	background-color: #fff;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	margin: 0 auto 15px;
 	padding: 4.1%;
 	position: relative;
 }

 