* {
	border: 0;
	box-sizing:border-box;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body{
	background-color: #FFF;
	font-size: 20px;
	margin: 0;
	padding: 0;
}
header{
	background-color: #fff;
	box-shadow: -1px 1px 10px #A7ABBA;
	margin: 0px auto 15px;
	padding: 20px;
	width: 100%;
}

h1 { 
	color: #000;
	font-family: "Playfair Display",'Times New Roman', Times, Serif;
	font-size: 3em;
	font-weight: 100;
	margin: 7px auto;
	text-transform: uppercase;
	width: 100%;
}

h2 {
	color: #000;
	font-family: "Raleway"; san-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin:auto;
	padding: 2px 10px;
}

h3 {
	color: #000;
	font-family: "Raleway"; san-serif;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1.33em;
	margin:auto;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: -0.1em;
}
h4 {
	color: #000;
	display: inline-block;
	font-family: "Raleway";
	font-size: 1em;
	font-weight: 700;
	line-height: 1.33em;
}

p {
	font-family: "Raleway";
	font-size: .75em;
	line-height: 1.33em;
	padding: 5px 0px;
}

nav { 
	padding: 0 30px;
	position: fixed;
	width: 100%;
	opacity: .95;
	z-index: 100;
 }

a:link{ 
	color: #000;
	text-decoration: none; 
	}

a:visited{  
	color: #000;
	text-decoration: none; 
	}

a:hover{ 
	color: #FF5339;
	text-decoration: none; 
	}

a:active { 
	color: #FF5339;
	text-decoration: none; 
	}

footer {
	background-color: #fff;
	color: #000;
	font-size: 1em;
	line-height: 1.33em;
	padding: 15px;
	text-align: center;
	width: 100%;
}


label {
	background-color: #fff;
	cursor: pointer;
	color: #000;
	display: block;
	font-family: "Raleway"; 
	font-size: 1em;
	font-style: normal;
	line-height: 1.33em;
	word-spacing: -0.1em;
}
ul {
	  list-style-position: inside;
}

li {
	font-family: "Raleway";
	font-size: .75em;
	line-height: 1.33em;
	list-style-type: circle;
	padding: 5px; 
}
iframe {
	margin: 0 auto;	
	display: block;
	transform: scale(.70);
}

div #mc_embed_signup_scroll {
	background-color: #fff;
	cursor: none;
	color: #000;
	display: block;
	font-family: "Raleway"; 
	font-size: .9em;
	font-style: normal;
	line-height: 2em;
	word-spacing: -0.1em;
	margin: none;
} 
#mc_embed_signup_scroll label {
	margin-left: 0px;
}

#mc_embed_signup .button {
 	border: none;
    background: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    line-height: 32px;
    padding: 0px 18px;
    display: inline-block;
    margin: 10px;
    transition: all 0.23s ease-in-out 0s;
    }

#mc_embed_signup input.email {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 32px;
    margin: 10px 0px;
    width: 350px;
   }
.red {
	color: #FF5339;
}
.name { 
	font-family: "semplicitapro", helvetica, sans-serif;
	font-size: .9em;
	 }

.col1 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	display: inline-block;
	float: left;
	margin: .5%;
    width: 34.6%;
    position: relative;
}

.col2 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	display: inline-block;
	float: left;
	margin: 10px .5%;
	padding: 5px 10px;
	height: 410px;
    width: 32.4%;
    position: relative;
}

.col3 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	padding-bottom: 10px;
	position: relative;
	float: left;
	margin: 10px .5%;
    width: 32.3%;
}

.col4 {
	background-color: #fff;
	float: left;
	margin: .2%;
	padding: 17px 5px 15px 5px;
	width: 32.33%;
}
.col5 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	padding-bottom: 10px;
	position: relative;
	float: left;
	height: 410px;
	margin: 10px .5%;
    width: 65.6%;
}
.col6 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	padding-bottom: 10px;
	position: relative;
	float: left;
	margin: 10px 0px;
	padding: 40px 12%; 
	width: 100%;
}
.col7 {
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
	padding: 10px;
    margin: 10px .5%;
}
.col8{
    background-color: #fff;
    padding-bottom: 10px;
    position: relative;
    float: left;
    margin: 10px 0px;
    padding: 40px 12%;
    width: 100%;
}

.col1:hover{
	box-shadow: -3px 3px 10px rgba(0,0,0,.25);
	transform: rotate(-.2deg);
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.aside{
  	width: 100%;
  	}

.homeimage { 
	border-radius: 50%;
    width: 95%;
    padding: 13px 0px 0px 13px;
 }
.projectimage{
    width: 95%;
    padding: 13px 0px 0px 13px;
  	-moz-filter: saturate(100%);
  	-webkit-filter: saturate(100%);
  	-o-filter: saturate(100%);
  	-ms-filter: saturate(100%);
  	filter: saturate(100%);
}

.projectimage:hover {
  	-moz-filter: saturate(105%);
  	-webkit-filter: saturate(105%);
  	-o-filter: saturate(105%);
  	-ms-filter: saturate(105%);
  	filter: saturate(105%);
}
.imagewrapper{
    width: 98.5%;
    padding: 13px 0px 0px 13px;
  	-moz-filter: saturate(100%);
  	-webkit-filter: saturate(100%);
  	-o-filter: saturate(100%);
  	-ms-filter: saturate(100%);
  	filter: saturate(100%);
}

 .thoughts{
 	background-color: gold;
 	bottom-margin: 20px;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	color: #000;
 	font-size: 1em;
 	height: 300px;
 	padding: 20px;
 	overflow: auto
 }

 .thoughts:hover {
  	box-shadow: -3px 3px 10px rgba(0,0,0,.25);
	transform: rotate(-.2deg);
}

.overlay{
	padding-left: 17px;
	position: relative;
	margin-bottom: 3%;

}
.columntext {
	padding: 10px 25px;
	position: relative;
	margin-bottom: 3%
}

.responsive {
	display: none;
}

.brandlogo{
	margin-top: 10px;
	width: 2em;
}
.responsiveimage{
    display: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
}

.footerbar{
	background-color: #000;
	height: 3px;
	margin-top: 40px;
}
.aboutwrapper .logo{
	width: 30%;
}
.insight {
	background-color: #fff;
	float: left;
    width: 33.3%;
}

#topsection {
	padding: 30px;
}
#headerimage {
	border-radius: 50%;
	display: block;
	max-width: 220px;
	margin-left: 20%;
}
#headerleft {
	width: 33%;
	display: block;
	float: left;
}
#headertext {
	float: left;
	padding-top: 0px;
    width: 66%;
}
#logo {
	margin: 3%;
	width: 94%;
}
#logo-menu {
	width: 150px;
	margin-right: 20px;
	display: inline;
}
#menu-toggle {
  display: none;
}

#menu {
  	background-color: #fff;
	border-left: .5px solid #EFEFEF;
	color: #000;
	font-family: "Raleway"; 
	font-feature-settings: "'liga' 1";
	font-size: 1.2em;
	font-style: normal;
	line-height: 1em;
	display: none;
	padding: 10px;
	margin-left: 5%;
}

#menu-toggle:checked + #menu {
  display: block;
}

#submenu{
	font-size: .9em;
	line-height: .9em;
	padding-left: 20px;
}
#menu-toggle:checked + #submenu {
  display: block;
}


#splash {
	margin: auto;
	max-width: 1080px;
}

#mainwrapper {
	margin: auto;
	width: 100%;
}

#subwrapper {
	max-width: 930px;
	margin: auto;
}

 #projectswrapper {
 	background-color: #fff;
 	box-shadow: -1px 1px 3px #ededed;
 	margin: 0 auto 1%;
 	padding: 2.1%;
 	position: relative;
 }

#researchwrapper {
 	background-color: #fff;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	margin: 0 auto 1%;
 	padding: 2.1%;
 	position: relative;
 	clear: both;
 }

 #thoughtswrapper{
 	background-color: #fff;
 	box-shadow: -1px 1px 3px #A7ABBA;
 	margin: 0 auto 1%;
 	padding: 2.1%;
 	position: relative;
 }
 #rudr_instafeed{
  list-style:none  
}
#rudr_instafeed li{
    width: 31%;
    height: 250px;
    margin: 1%;
    display: inline-flex;
}
#rudr_instafeed li img{
  max-width:100%;
  max-height:100%;
}
#insights{
    background-color: #fff;
    padding-bottom: 10px;
    position: relative;
    float: left;
    margin: 10px 0px;
    padding: 40px 12%;
    width: 100%;
}

 @media only screen and (max-width:1000px) {

body{
 font-size:25px;
}
h1 {
	font-size: 1.5em;
	text-align: center;
}
h2 {
	font-size: 1em;
	text-align: center;
}
.columntext {
	padding: 5px 25px;
}
.col1 {
	display: none;
}
.col2 {
	width: 100%;
	height: auto;
}
 .col3 {
	float: none;
	width: 100%;
}
.col4 {
	float: none;
	width: 100%;
}
.col5 {
    width: 100%;
    height: auto;
}
.clearfix .col4{
	width: 100%;
}
.clearfix .thoughts {
	max-height: none;
	}
.responsive {
	display: block;
}
.aboutwrapper .logo{
	width: 60%;
}
.responsiveimage {
	display: block;
}
.overlay {
	display: none;
}
.columntext p {
	display: block;
}
.imagewrapper {
	padding: none;
}
.projectimage {
	width: 96%;
	margin-bottom: 10px;
}
.insight{
	width: 100%
}
#headerimage {
	margin: auto;
}
#headerleft {
	width: 100%;
}
#headertext {
	width: 100%;
}
#projectswrapper{
	padding: 3%;
}
#researchwrapper{
	padding: 3%;
}
#thoughtswrapper{
	padding: 3%;
}
#insights{
	margin: 0px 0px;
    padding: 0;
}


 @media only screen and (max-width:600px){

 }
