html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, c
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output,  section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background-color: #EBEBEB;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
header{
	height: 120px;
	background-color: #cdcdcd; 
	width: 100%;
	padding: 10px;
	box-shadow:-3px 3px 10px rgba(0,0,0,.25)-5px 5px 5px rgba(0,0,0,.15);
}

hr {
	width: 9em;
	margin: 15px auto;
	border-color: black;
}

h1 { 
	color: #fff;
	font-family: "Playfair Display";
	font-feature-settings: "'liga' 1";
	font-size: 5em;
	font-weight: lighter;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: auto;
	padding: 21% 0%;
}

h2 {
	background-color: #fff
	color: #000;
	font-family: "Raleway"; san-serif;
	font-feature-settings: "'liga' 1";
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1.33em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: -0.1em;
	margin:auto;
	padding-top: 15px;
	max-width: 880px;
}

nav a{
	background-color: #000;
	padding:10px;
	margin: 15px auto;
	width:30%;
	display: block;
	max-width: 250px;
	min-width: 150px;
	color: #fff;
	font-family: "Raleway"; san-serif;
	font-feature-settings: "'liga' 1";
	font-kerning: auto;
	font-style: normal;
	font-size: 2em;
	font-weight: 50;
	line-height: 1.33em;
	text-align: center;
	text-decoration: none;
	word-spacing: -0.1em;
	box-shadow: -1px 1px 3px rgba(0,0,0,.25);
	border-radius: 5px;
}
nav a:hover {
	box-shadow: -3px 3px 10px rgba(0,0,0,.25);
}

footer {
	font-size: 1em;
	background-color: #cdcdcd;
	color: #fff;
	line-height: 1.33em;
	text-align: center;
	width: 100%
	height: 90px;
	padding: 15px;
}

img:hover{
	transform: rotate(-.2deg);
	box-shadow: -3px 3px 10px rgba(0,0,0,.25);

}
a:link {  
	text-decoration: none; 
	color: #fff;
	}

a:visited {  
	text-decoration: none; 
	color: #fff;
	}
	
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #FF5339;
	}
.name { 
	font-family: helvetica;
	font-size: .9em;
	 }

.col1 {
	float: left;
	margin: .5%;
	width: 32.33%;
	padding: 15px;
	border: none;
	background-color: #fff;
	box-shadow: -1px 1px 3px #A7ABBA;
}
.col2 {
	float: left;
	margin: auto;
	margin-bottom: 20px;
	width: 256.6px;
	padding: 15px;
	border: none;
	box-shadow: -3px 3px 10px #A7ABBA;
}

.col3 {
	float: left;
	margin: auto;
	margin-bottom: 20px;
	width: 256.6px;
	padding: 15px;
	border: none;
	box-shadow: -3px 3px 10px #A7ABBA;
}

#circle {
	width: 100px;
	height: 100px;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	font-size:20px;
	color: #000;
	line-height:100px;
	text-align:center;
}
#jungle {
	background: url(../images/splash_image.jpg) no-repeat;
	max-width: 880px;
	margin: auto;
	box-shadow: -3px 3px 10px #A7ABBA;
}
 #projects{
 	max-width: 880px;
 	margin: auto;
 	background-color: white;
 }
 #ponder{
 	max-width: 880px;
 	margin: auto;
 	background-color: white;
 }
 #research{
 	max-width: 880px;
 	margin: 30px auto;
 	background-color: white;
 }
  #puppies{
 	max-width: 880px;
 	margin: auto;
 	background-color: white;
 }