.name { 
	font-family: helvetica;
	font-size: .9em;
	 }


 header{
	height: 100px;
	width: 100%;
	background-color: #000; 
	margin-bottom: 5px;
	padding: 20px;
	z-index: -1;
	position: relative;
}

#circle {
	width: 100px;
	height: 100px;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	font-size:20px;
	color: #000;
	line-height:100px;
	text-align:center;
	position: relative;
}

h2 { 
   	width: 100%; 
	background-color: #fff;
	color: #000;
	font-family: "Playfair Display";
	font-feature-settings: "'liga' 1";
	font-kerning: auto;
	font-style: normal;
	font-size: 5em;
	font-weight: lighter;
	letter-spacing: 0em;
	line-height: 1.33em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	word-spacing: 0em;	
	margin: auto;
	z-index: -2;
	position:relative;
		}
img { 
   width: 100%; 
   padding:5px;
   border:1px solid #000;
   box-shadow: -3px 3px 10px #A7ABBA;
   position: relative;
   z-index: -3;
}
nav{

	background-color: #007D37;
	padding:10px;
	margin: 15px auto;
	width:30%;
	color: #fff;
	font-family: Raleway; san-serif;
	font-feature-settings: "'liga' 1";
	font-kerning: auto;
	font-style: normal;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1.33em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: -0.1em;
	box-shadow: -3px 3px 10px #A7ABBA
	}


footer {
	height: 300px;
	background-color: #007D37; 
	color: #fff;
	line-height: 1.33em;
	margin: auto;
	text-align: center;

}
a:link {  
	text-decoration: none; 
	color: #fff;
	}

a:visited {  
	text-decoration: none; 
	color: #fff;
	}
	
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #FF5339;
	}

